


.body{
  color: rgba(0, 128, 0, 0.925);
  text-align: center;
  background-color: rgba(0, 128, 64, 0.212);
  height: 100vh;
  align-self: baseline;
  padding-top: 50px;
  margin: 2px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  margin:0px 9px
}
.main > div{
  flex: 45%
}
.intro{
  width:80%;
  margin: auto;
  height: auto;
  padding-top: 25px;
  padding-bottom: 21px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px white;
  box-shadow: 1px 1px 5px 1px rgba(0, 128, 96, 0.336);
}

.intro > span {
  
  margin-bottom: 7px;
  box-shadow: 0px 0px 10px 0px rgba(0, 128, 96, 0.336);
}


.input{
  display: block;
  width: 80%;
  padding:25px;
  height: 50px;
  margin: 10px auto ;
  border: 1px solid  rgb(var(--background-start-rgb));
  align-self: center;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: medium;
  opacity: 1;
  font-weight: 500;
}
.input:focus{
border: 1px solid  rgb(var(--background-start-rgb));

}

.form{
  width:80%;
  margin: auto;
  background-color: rgba(0, 128, 96, 0.849);
  height: auto;
  margin-top: 21px;
  box-shadow: 1px 1px 10px 1px white;
  padding-top: 40px;
  padding-bottom: 21px;
  z-index: 2;
  border: 1px solid white

}

.button{
  display: block;
  background-color: grey;
  width: 50%;
  padding: 11px;
  color:white;
  font-size: 17px;
  margin:auto;
  margin-bottom: 0px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 10px;
}
  
.create{
  background-color: green;
  opacity: 0.8;
  display: block;
  width: 39%;
  padding: 11px;
  color:white;
  font-size: 17px;
  margin:auto;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 14px;
  text-wrap: pretty
}

.create:hover, .button:hover{
  opacity: 0.6;
}
.hr{
  padding: 11px
}
.appname{
  font-size: 30px;
  padding: 4px;
  font-weight: 500;
}
.appnamechild{
  color:green;
}
.childone,.childtwo,.childthree{
  display: block;
  font-size: 30px;
  opacity: 0.8;
  padding: 7px
}
.childone{
  text-align: left;
}
.childthree{
  text-align: right;
}

.footer{
  text-align:center ;
  margin-top: 50px;
  padding: 15px;
  background-color: rgb(var(--background-start-rgb));
}

.footer span{
  color: blue;
  font-style: italic;
}

@media screen and  (max-width :768px) {
  .main{
    display: block;
  }
  .main > div{
    flex: block
  }
  
  .childone,.childtwo,.childthree{
    display: block;
    font-size: 19px;
    opacity: 0.8;
    padding: 7px
  }
}