
.body, .main {
  color: green;
  background-color: whitesmoke;
    text-align: center;
    height: auto;

}
.main{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 50px;
}
.main > div{
  flex: 45%
}
.intro{
  width:80%;
  margin: auto;
  height: auto;
  margin-top: 21px;
  padding-top: 25px;
  padding-bottom: 21px
}
.input{
  display: block;
  width: 80%;
  padding:25px;
  height: 50px;
  margin: 10px auto ;
  border: 1px solid  rgb(var(--background-start-rgb));
  align-self: center;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: medium;
  opacity: 1;
  font-weight: 500;
}
.input:focus{
border: 1px solid  rgb(var(--background-start-rgb));

}

.form{
  width:80%;
  margin: auto;
  background-color:  rgb(var(--background-start-rgb));
  height: auto;
  margin-top: 21px;
  box-shadow: 1px 0px 0px 1px white;
  padding-top: 25px;
  padding-bottom: 21px
}

.button{
  display: block;
  background-color: grey;
  width: 50%;
  padding: 11px;
  color:white;
  font-size: 17px;
  margin:auto;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 10px;
}
  
.create{
  background-color: green;
  opacity: 0.9;
  display: block;
  width: 39%;
  padding: 11px;
  color:white;
  font-size: 17px;
  margin:auto;
  text-align: center;
  margin-bottom: 10px;
}
.hr{
  padding: 11px
}
.appname{
  color:green;
  font-size: 30px;
  padding: 4px;
  font-weight: 500;
}
.appnamechild{
  color:green;
}
.childone,.childtwo,.childthree{
  display: block;
  color:green;
  font-size: 30px;
  opacity: 0.8;
  padding: 7px
}
.childone{
  text-align: left;
}
.childthree{
  text-align: right;
}

.footer{
  text-align:center ;
  margin-top: 50px;
  padding: 15px;
  background-color: rgb(var(--background-start-rgb));
}

.footer span{
  color: blue;
  font-style: italic;
}

@media screen and  (max-width :768px) {
  .main{
    display: block;
    gap: 10px;
  }
  .main > div{
    flex: block
  }

  .childone,.childtwo,.childthree{
    display: block;
    color:green;
    font-size: 19px;
    opacity: 0.8;
    padding: 7px
  }
}